.wrapper {
    grid-area: messages;
}

.messageWrapper {
    min-height: 60vh;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.avatar {
    height: 70px;
    width: auto;
    object-fit: cover;
    border-radius: 35px;
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.45);
}

.right {
    justify-content: flex-end;
}

.from {
    text-align: center;
    margin: 10px;
}

.message {
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.45);
}

.newMessage {
    margin: auto 0 0 0;
}

.messageForm {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageInput {
    display: block;
    width: 25vw;
    min-width: 100px;
    height: 80px;
    padding: 5px;
    resize: none;
    font-family: inherit;
    font-size: 14px;
    background: #b3b3b3;
    color: #2d2d2d;
    border: none;
}

.messageInput:focus {
    border: none;
    background: #e5e5e5;
    color: #1d1d1d;
    outline: none;
}

.messageBtn {
    padding: 15px 20px;
    background: #009351;
    color: #fff;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
}