.avatar {
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: flex-start;
}

.userName {
    margin-bottom: 25px;
}

.profileDescription p {
    margin-bottom: 3px;
}

.socialsWrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.socials {
    margin: 5px;
    color: darkslategray;
}

.changePhotoDescription {
    color: #204e79;
    border-bottom: 2px solid #204e79;
    margin: 3px;
    display: inline-block;
}

.btn {
    padding: 10px 15px;
    background: #009351;
    color: #fff;
    min-width: 60px;
    margin: 5px;
    border-radius: 5px;
    transition: .3s;
}

.btn:hover {
    background: #005a31;
    cursor: pointer;
}