.wrapper {
    grid-area: dialogs;
    margin-top: 10px;
    border-right: 2px solid #2d3b3e;
    min-height: 60vh;
}
.wrapper h2 {
    margin-bottom: 20px;
}

.item {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #4e4e4e;
    cursor: pointer;
}

.active {
    color: #000 !important;
    font-size: 20px !important;
}

.item:hover {
    text-decoration: underline;
}