.formControl.error {
    position: relative;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
    position: absolute;
    margin: 5px;
    font-size: 16px;
}