.loginHeading {
    color: #204e79;
}

.loginBtn {
    padding: 10px 15px;
    background: #009351;
    color: #fff;
    min-width: 60px;
    margin: 5px;
    border-radius: 5px;
    transition: .3s;
}

.loginBtn:hover {
    background: #005a31;
}

input {
    padding: 5px;
    margin: 5px 0;
}

form {
    margin-top: 10px;
}

.formError {
    border: 2px solid red;
    color: red;
    padding: 5px;
    margin: 3px;
    display: inline-block;
}